
body {
    padding-top: 56px;
    color: white;
    font-family: 'Vollkorn', serif;
    font-size: larger;
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 570px;
}

.btn-login {
    margin-left: 1100px;
    margin-top: -420px;
}